.wrapper {
    --search-border-radius:92px;

    height: 60px;
    display: flex;
    justify-content: center;
    
}
.inner{
    height: 100%;
    width: 1800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
//logo
.logo img{
    padding-right:160px;
    width: 240px;
    display: flex;
    height:100%;

}
//search

//action
.action{
    display: flex;
    // width: 80px;
    font-size:1.4rem;
    color: #737680;
    .info{
        display: flex;
    
    }
    
}
.orderStatus,.location,.contact,.sign-in,.sign-up {
    display: flex;
    padding: 0 10px;
    justify-content: center;
    &:hover{
        text-decoration: underline;
    }
}
//end